div{
	text-align: center;
}
 	
h1{
	color: black;
   	font-size: 40pt;
   	text-align: center;
}

h2{
	color: orange;
	font-size: 30pt;
	text-align: center;
}

h3{
	color: #4CBB17;
	font-size: 20pt;
 	text-align: center;
}
/*  suppress numbers in ordered lists, set line height, center */	
ol{
	list-style-type: none;
    line-height: 25px;
    text-align: center;
}
/*  suppress bullets in unordered lists, set line height, center*/	
ul{
    list-style-type: none;
    line-height: 25px;
    text-align: center;
}
li{
	color: blue;
	list-style-type: none;
	position: relative;
    text-align: center;
}
/*  center in middle of page */	
table.center{
	width:30%;
	margin-left:35%; 
    margin-right:35%;
}

/*  return to page's internal directory*/
.return{
	font-family: Times, Georgia, Serif;
	font-size: 50;
}
/*  formatting of page's top directory*/
.top{
	font-family: "Arial", Georgia, Serif;
	font-size: 75;
}
/*  return to page's top directory from bottom of page*/
#returntop{
	font-family: "Arial", sans-serif;
	font-size: 75;
}


